
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section head{
}

<table id="grid_entor" class="easyui-datagrid" fit="true"
       data-options="rownumbers:true,singleSelect:true,pagination:true,url:'/entor/query_entor_by_name',toolbar:'#grid_entortoolbar',onClickRow:doDetail">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'MId',width:100">教师代码</th>
            <th data-options="field:'MentorId',width:100">教师职工号</th>
            <th data-options="field:'MentorName',width:100">教师姓名</th>
            <th data-options="field:'Sex',width:100,hidden:true">性别</th>
            <th data-options="field:'SexName',width:100">性别</th>
            <th data-options="field:'MentorLevel',width:100">教师等级</th>
            <th data-options="field:'Other',width:100">备注</th>


        </tr>
    </thead>
</table>

<div id="grid_entortoolbar" style="padding:5px;height:auto">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doAdd()">添加</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="doDel()">删除</a>
    @Html.CLTextBox("Key", "", new TextBox() { Prompt = "请输入教师名" })
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doSearch()">查询</a>
</div>

<div id="dlg_entor" class="easyui-dialog" title="教师编辑" style="width: 400px; height: 400px; padding: 10px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_buttons'">
    Loading...
</div>

<div id="dlg_buttons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeBox()">关闭</a>
    </div>
</div>

<script>
    function doSearch() {
        $('#grid_entor').datagrid('load', {
            Key: $('#Key').val()
        });
    }

    // 添加
    function doAdd() {
        $('#dlg_entor').dialog("open").dialog('refresh', App.getUrl('/entor/add'));
    }

    // 删除
    function doDel() {
        var row = $('#grid_entor').datagrid('getSelected');
        if (!row) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }

        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("/entor/remove"), { MId: row.MId },
                function () {
                    $('#grid_entor').datagrid('reload');
                });
        });


    }

    // 打开编辑状态详情
    function doDetail() {
        var row = $('#grid_entor').datagrid('getSelected');
        if (row) {
            $('#dlg_entor').dialog("open").dialog('refresh', App.getUrl('/entor/edit?MId=' + row.MId));
        }

    }
</script>

