<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--程序集设置-->
    <assembly name="CoreLand.Framework.Infrastructure"/>
    <assembly name="CoreLand.Framework.Log"/>
    <assembly name="CoreLand.Framework.EFProvider"/>
    <assembly name="CoreLand.Framework.DevelopKit"/>
    <assembly name="EIP.Service"/>
    <assembly name="EIP.Entity"/>
    <assembly name="EIP.SystemManage.Service"/>

    <!--命名空间指定-->
    <namespace name="CoreLand.Framework"/>
    <namespace name="CoreLand.Framework.Data"/>
    <namespace name="CoreLand.Framework.Code"/>
    <namespace name="CoreLand.Framework.Authentication"/>
    <namespace name="CoreLand.Framework.Caching"/>
    <namespace name="CoreLand.Framework.Log"/>
    <namespace name="CoreLand.Framework.Service"/>
    <namespace name="CoreLand.Framework.Service.Impl"/>
    <namespace name="EIP.Service"/>
    <namespace name="EIP.Service.Impl"/>
    <namespace name="EIP.Entity"/>
    <namespace name="EIP.SystemManage.Service"/>

    <!--自定义生命周期别名-->
    <alias alias="prerequest" type="Microsoft.Practices.Unity.PerRequestLifetimeManager,Microsoft.Practices.Unity.Mvc"/>
    <!--EF实体上下文别名-->
    <alias alias="DbContext" type="System.Data.Entity.DbContext,EntityFramework"/>
    <!--SQL执行监听器接口别名-->
    <alias alias="IDbCommandInterceptor" type="System.Data.Entity.Infrastructure.Interception.IDbCommandInterceptor,EntityFramework"/>

    <container>

      <!--【系统基础组件注册】-->
      <!--SQL监听器注册-->
      <register type="IDbCommandInterceptor" mapTo="DatabaseLogInterceptor"></register>
      <!--基础组件实体上下文-->
      <register type="FrameworkContext" mapTo="FrameworkContext">
        <lifetime type="prerequest"/>
      </register>
      <!--默认服务上下文注册-->
      <register type="IUnitOfWork" mapTo="EFRepositoryContext">
        <lifetime type="prerequest"/>
      </register>
      <!--基础组件服务上下文-->
      <register type="IFrameworkRepositoryContext" mapTo="FrameworkRepositoryContext">
        <lifetime type="prerequest"/>
      </register>
      <!--系统日志组件-->
      <register type="ILog" mapTo="Log4NetLogger">
        <lifetime type="singleton"/>
      </register>
      <!--仓储工厂-->
      <register type="IRepositoryFactory" mapTo="DefaultRepositoryFactory">
        <lifetime type="singleton"/>
      </register>
      <register type="IRepositoryProvider" mapTo="EFRepositoryProvider">
        <lifetime type="singleton"/>
      </register>
      <!--缓存服务提供者-->
      <register type="ICacheStorageProvider" mapTo="DefaultCacheStorageProvider">
        <lifetime type="singleton"/>
      </register>
      <!--缓存服务-->
      <register type="ICacheService" mapTo="DefaultCacheService">
        <lifetime type="singleton"/>
      </register>



      <!--用户认证服务-->
      <register type="IAuthenticationService" mapTo="FormsAuthenticationService"></register>
      <!--用户服务-->
      <register type="IMembershipService" mapTo="DefaultMembershipService"></register>
      <!--用户适配器-->
      <register type="IMembershipAdapter" mapTo="DefaultMembershipAdapter"></register>
      <!--鉴权服务-->
      <!--前端组件不需要权限验证-->
      <!--<register type="IACLService" mapTo="ACLService"></register>-->
      <!--配置服务-->
      <register type="IConfigService" mapTo="ConfigService"></register>
      <!--数据字典服务-->
      <register type="ICodeService" mapTo="CodeService"></register>
      <!--应用配置服务-->
      <register type="IAppSettingService" mapTo="AppSettingService"></register>


      <!--【应用服务注册】-->
      <!--【学生服务】-->
         <register type="IClassroomService" mapTo="ClassroomService"></register>
       <register type="ICollegeService" mapTo="CollegeService"></register>
       <register type="IentorService" mapTo="entorService"></register>
       <register type="IGradeService" mapTo="GradeService"></register>
       <register type="ILessonInfoService" mapTo="LessonInfoService"></register>
       <register type="IRemoService" mapTo="RemoService"></register>
      <!--【地域服务 】-->
      <register type="ILocalService" mapTo="LocalService"></register>
      <!--应用配置管理服务-->
      <register type="IAppConfigService" mapTo="AppConfigService"></register>
      <!--数据字典管理服务-->
      <register type="IAppCodeMasterService" mapTo="AppCodeMasterService"></register>


      <register type="DbContext" mapTo="SampContext">
        <lifetime type="prerequest"/>
      </register>
    </container>

  </unity>

</configuration>