
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section head{
}

<table id="grid_lessonSchedule" class="easyui-datagrid" fit="true"
       data-options="rownumbers:true,singleSelect:true,pagination:true,url:'query_lessonSchedule',toolbar:'#grid_toolbar',onDblClickRow:doDetail">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'LIId',width:100">用来识别课程信息</th>
            <th data-options="field:'ClassroomId',width:100">教室信息Id</th>
            <th data-options="field:'LessonTime',width:100"></th>
            <th data-options="field:'MTRId',width:100">班级任课教师数据ID,确定任课教师和上课学生
   </th>
            <th data-options="field:'Other',width:100">备注信息</th>
            <th data-options="field:'Classroom',width:100">教室信息
   </th>
            <th data-options="field:'LessonInfo',width:100">课程信息表</th>
            <th data-options="field:'entorToRemo',width:100">用来记录每个班级的任课教师</th>

        </tr>
    </thead>
</table>

<div id="grid_toolbar" style="padding:5px;height:auto">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doAdd()">添加</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="doDel()">删除</a>
    @Html.CLTextBox("Key", "", new TextBox() { Prompt = "请输入课程安排名。" })
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doSearch()">查询</a>
</div>

<div id="dlg_lessonSchedule" class="easyui-dialog" title="课程安排编辑" style="width: 400px; height: 400px; padding: 10px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_buttons'">
    Loading...
</div>

<div id="dlg_buttons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeBox()">关闭</a>
    </div>
</div>

<script>
    function doSearch() {
        $('#grid_lessonSchedule').datagrid('load', {
            Key: $('#Key').val()
        });
    }

    // 添加
    function doAdd() {
        $('#dlg_lessonSchedule').dialog("open").dialog('refresh', App.getUrl('LessonSchedule/add'));
    }

    // 删除
    function doDel() {
        var row = $('#grid_lessonSchedule').datagrid('getSelected');
        if (!row) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }

        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("LessonSchedule/remove"), { appId: row.AppId },
                function () {
                    $('#grid_lessonSchedule').datagrid('reload');
                });
        });


    }

    // 打开编辑状态详情
    function doDetail() {
        var row = $('#grid_lessonSchedule').datagrid('getSelected');
        if (row) {
            $('#dlg_lessonSchedule').dialog("open").dialog('refresh', App.getUrl('LessonSchedule/edit?appId=' + row.AppId));
        }

    }
</script>

