<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=(local);uid=Sa;pwd=hjy12345;database=EIP_SYS;Pooling=true" providerName="System.Data.SqlClient"/>
    <add name="Eip.System.ConnStr" connectionString="server=(local);uid=Sa;pwd=hjy12345;database=EIP_SYS;Pooling=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

  </appSettings>
</configuration>