<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="eiplog/" />
      <!--是否追加到文件-->
      <appendToFile value="true" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <rollingStyle value="Date" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="-1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--按日期产生文件夹和文件名［在日期方式与混合方式下使用］-->
      <!--此处按日期产生文件夹，文件名固定。注意&quot; 的位置-->
      <param name="DatePattern" value="&quot;sample&quot;yyyy-MM-dd&quot;.log&quot;" />
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。
          超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。
          可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <param name="maximumFileSize" value="10MB" />
      <!--计数类型为1，2，3…-->
      <param name="CountDirection" value="1" />
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：记录时间：%date 线程ID:[%thread] 日志级别：%-5level 记录类：%logger
        当前机器名:%property%n当前机器名及登录用户：%username %n 
        记录位置：%location%n 消息描述：%property{Message}%n
        异常：%exception%n 消息：%message%newline%n%n" -->
        <conversionPattern value="%date [%thread] %-5level %username %message%newline" />
      </layout>
    </appender>
    <!--定义输出到控制台命令行中-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--将日志信息写入System.Diagnostics.Trace系统（出现在输出窗口）-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
        <conversionPattern value="%date [%thread] %-6level %-10LoginName %-20AppIndentity %ModuleName.%MethodName %message%newline" />
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--定义输出到数据库中-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <!--BufferSize为缓冲区大小，只有日志记录超设定值才会一块写入到数据库-->
      <bufferSize value="1" />
      <!--引用-->
      <connectionType value="System.Data.SqlClient.SqlConnection,System.Data, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <!--连接数据库字符串-->
      <!--<connectionString value="Data Source=10.101.27.52\app0c;Initial Catalog=EIP_SYS; User ID=sa;Password=MSsql@0903" />-->
      <connectionString value="server=(local);uid=Sa;pwd=hjy12345;database=EIP_SYS;Pooling=true" />
      <commandText value="INSERT INTO [EIP_Log] ([AppIndentity],[LogLevel],[Category],[ModuleName],[MethodName],[Thread],[LoginName],[UserName],[Host],[ServerName],[ServerIP],[ClientName],[ClientIP],[LogTime],[Message],[Exception]) VALUES (@AppIndentity,@LogLevel,@Category,@ModuleName,@MethodName,@Thread,@LoginName,@UserName,@Host,@ServerName,@ServerIP,@ClientName,@ClientIP,@LogTime,@Message,@Exception)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value="@AppIndentity" />
        <dbType value="String" />
        <size value="50" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%AppIndentity" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Category" />
        <dbType value="String" />
        <size value="20" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%Category" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ModuleName" />
        <dbType value="String" />
        <size value="200" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%ModuleName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MethodName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%MethodName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Thread" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LoginName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%LoginName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%UserName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Host" />
        <dbType value="String" />
        <size value="100" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%Host" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ServerName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%ServerName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ServerIP" />
        <dbType value="String" />
        <size value="50" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%ServerIP" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ClientName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%ClientName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ClientIP" />
        <dbType value="String" />
        <size value="50" />
        <layout type="CoreLand.Framework.Log.Log4net.EIPAppPatternLayout,CoreLand.Framework.Log">
          <conversionPattern value="%ClientIP" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="24000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="24000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
      <!--Debuger显示日志-->
      <appender-ref ref="TraceAppender" />
      <!--Windows事件日志-->
      <!--<appender-ref ref="EventLogAppender" />-->
      <!--数据库-->
      <appender-ref ref="AdoNetAppender" />
    </root>
    <logger name="Eip.Log4net">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>
