<?xml version="1.0" encoding="utf-8" ?>
<Messages IsShowCode="true">
  <!--提示信息（I99999）-->
  <Message code="I10000" body="登录成功！" solution=""></Message>
  <Message code="I10001" body="注销成功！" solution=""></Message>
  <Message code="I10010" body="保存成功！" solution=""></Message>
  <Message code="I10011" body="添加成功！" solution=""></Message>
  <Message code="I10012" body="发布成功！" solution=""></Message>
  <Message code="I10020" body="设置成功！" solution=""></Message>
  <Message code="I10030" body="删除成功！" solution=""></Message>
  <Message code="I10040" body="点赞成功！" solution=""></Message>
  <Message code="I10050" body="重置成功！" solution="新密码已发送至用户"></Message>
  <Message code="I10060" body="发送成功！" solution="验证码已至您的个人邮箱 请注意查收"></Message>
  <Message code="I10070" body="刷新成功！" solution=""></Message>
  <!--交互信息（Q99999）-->
  <Message code="Q10010" body="是否执行删除？" solution="删除后数据无法恢复！"></Message>
  <Message code="Q10020" body="是否执行发布处理？" solution="点击【确定】后将不经领导审批直接发布！"></Message>
  <Message code="Q10030" body="输入信息未保存，是否需要关闭窗口？" solution="点击【确定】后将不保存，关闭窗口！"></Message>
  <Message code="Q10040" body="是否继续添加？" solution="点击【确定】后将不关闭窗口，可继续添加！"></Message>
  <Message code="Q10050" body="是否确定重置密码？" solution="点击【确定】后将重置密码！"></Message>
  <Message code="Q10060" body="是否执行修改？" solution="点击【确定】后将修改信息！"></Message>
  <Message code="Q10070" body="是否确定初始化账号？" solution="点击【确定】后将初始化账号！"></Message>
  <Message code="Q10080" body="是否确定修改密码？" solution="点击【确定】后将修改密码！"></Message>
  <Message code="Q10090" body="是否根据最新群组配置刷新所有群组人员？" solution="点击【确定】后将更新所有群组人员，可能花较长时间，请耐心等待！"></Message>
  <!--警告信息（W99999）-->
  <Message code="W10010" body="没有相关记录！" solution=""></Message>
  <Message code="W10011" body="没有相关记录！" solution="（{0}）"></Message>
  <Message code="W10020" body="数据不存在！" solution=""></Message>
  <Message code="W10030" body="已存在相同数据！" solution=""></Message>
  <Message code="W10040" body="取得部门信息员失败！用户（{0}）" solution=""></Message>
  <Message code="W10050" body="没有图片，不能设置轮播！" solution=""></Message>
  <Message code="W10060" body="请选择一条记录！" solution=""></Message>
  <Message code="W10061" body="请至少选择一条记录!" solution=""></Message>
  <!--错误信息（E99999）-->
  <Message code="E01000" body="用户登录失败。" solution="请确认用户名和密码是否输入正确！"></Message>
  <Message code="E01010" body="新增菜单名不能为空。" solution="添加菜单失败！"></Message>
  <Message code="E01011" body="新增菜单名不能超过100字符。" solution="添加菜单失败！"></Message>
  <Message code="E10010" body="{0}数据更新失败。" solution="请检查输入项内容是否正确！"></Message>
  <Message code="E10020" body="{0}没有权限访问此页面。" solution="请联系管理员！"></Message>
  <Message code="E10030" body="删除菜单失败！" solution="请刷新菜单，确认菜单项是否已不存在！"></Message>
  <Message code="E10040" body="应用标识【{0}】已经存在。" solution="请选用其他名称。"></Message>
  <Message code="E10041" body="人员树标识【{0}】已经存在。" solution="请选用其他名称。"></Message>
  <Message code="E10042" body="群组标识【{0}】已经存在。" solution="请选用其他名称。"></Message>
  <Message code="E10043" body="角色标识【{0}】已经存在。" solution="请选用其他名称。"></Message>
  <Message code="E10050" body="输入参数（{0}）不能为空。" solution="请确认参数是否正确设置!"></Message>
  <Message code="E10060" body="表单内容填写有误！" solution="错误详情请确认表单项后方提示信息。"></Message>
  <Message code="E10061" body="表单内容填写有误！" solution="两次密码不一致"></Message>
  <Message code="E10070" body="配置KEY【{0}】在本应用中已存在！" solution="请选用其他KEY。"></Message>
  <Message code="E10071" body="数据字典编码【{0}】在本节点已存在！" solution="请选用其他编码，保持编码唯一性。"></Message>
  <Message code="E10080" body="数据保存失败！" solution="请与系统管理员联系。"></Message>
  <Message code="E10090" body="应用删除失败！" solution="基本应用【系统管理】删除后系统将无法运行。"></Message>
  <Message code="E10100" body="组织删除失败！" solution="该部门或其子部门还存在{0}个职员未调离。请调离所有职员后再删除组织。"></Message>
  <Message code="E01110" body="保存密码失败!" solution="原密码不对！"></Message>
  <Message code="E01111" body="保存密码失败！" solution="验证码错误或已经失效。"></Message>
  <Message code="E01120" body="部分保存失败：" solution="重复添加"></Message>
  <Message code="E01121" body="部分保存失败：" solution="主职有且只能有一个"></Message>
  <Message code="E01122" body="部分保存失败：" solution="重复添加 或 主职有且只能有一个"></Message>
  <Message code="E01123" body="部分保存失败：" solution="该员工已被删除 或 主职有且只能有一个"></Message>
  <Message code="E01130" body="修改密码失败：" solution="原密码错误"></Message>
  <Message code="E01140" body="添加密码失败：" solution="此账号已被注册"></Message>
  <Message code="E01150" body="重置密码失败：" solution="此账号还为注册密码"></Message>
  <Message code="E01160" body="修改信息失败：" solution="主职有且只有一个 或 此人在该部门已不存在"></Message>
  <Message code="E01170" body="账号保存失败：" solution="已存在该账号"></Message>
  <Message code="E01180" body="公司删除失败！" solution="该公司下还存在{0}个部门未解散，请解散所有部门后再删除公司"></Message>
  <Message code="E01190" body="地域删除失败！" solution="该地域或其子地域 与其他部门关联，请先解除关联关系后再删除该地域"></Message>
  <Message code="E01200" body="获取验证码失败！" solution="该邮箱不是用户注册时的邮箱！"></Message>


</Messages>