.form-item {
    margin-bottom: 10px;
}

.form-buttons {
    margin: 0 auto;
    text-align: center;
}

.form-toolbar {
    border: none;
    padding-bottom: 5px;
}

.form-table {
    border: none;
    table-layout: fixed;
}

.form-table tr td {
    height: 28px;
}

.form-table tr th {
    text-align: left;
    font-weight: bold;
}

fieldset{
    margin-bottom:10px;
}

fieldset legend{
    font-family: "微软雅黑", arial;
    font-weight:bold;
    color:#666464;
}