
@{
    Layout = "~/views/shared/_layout.cshtml";
}
@section head{
}

<table id="grid_eacher" class="easyui-datagrid" fit="true"
       data-options="rownumbers:true,singleSelect:true,pagination:true,url:'query_eacher',toolbar:'#grid_toolbar',onDblClickRow:doDetail">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'TeacherName',width:100">老师名字</th>
            <th data-options="field:'Sex',width:100">老师性别(sex)</th>
            <th data-options="field:'Age',width:100">老师年龄(age)</th>
            <th data-options="field:'Subject',width:100">教学科目(subject)</th>
            <th data-options="field:'HomeAddress',width:100"></th>
            <th data-options="field:'Phone',width:100"></th>
            <th data-options="field:'StudentTeacherRelationships',width:100">学生老师关系表(StudentTeacherRelationship)</th>
            <th data-options="field:'eacherClassRelationships',width:100">老师班级表关系(TeacherClassRelationship)</th>

        </tr>
    </thead>
</table>

<div id="grid_toolbar" style="padding:5px;height:auto">
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doAdd()">添加</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="doDel()">删除</a>
    @Html.CLTextBox("Key", "", new TextBox() { Prompt = "请输入老师表名。" })
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doSearch()">查询</a>
</div>

<div id="dlg_eacher" class="easyui-dialog" title="老师表编辑" style="width: 400px; height: 400px; padding: 10px"
     data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,buttons:'#dlg_buttons'">
    Loading...
</div>

<div id="dlg_buttons" style="padding:5px;height:auto">
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="save()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-no" plain="true" onclick="closeBox()">关闭</a>
    </div>
</div>

<script>
    function doSearch() {
        $('#grid_eacher').datagrid('load', {
            Key: $('#Key').val()
        });
    }

    // 添加
    function doAdd() {
        $('#dlg_eacher').dialog("open").dialog('refresh', App.getUrl('eacher/add'));
    }

    // 删除
    function doDel() {
        var row = $('#grid_eacher').datagrid('getSelected');
        if (!row) {
            App.showMessageBox('@MessageManager.GetMessage("E10060")', 2);
            return false;
        }

        window.App.showConfirm('@MessageManager.GetMessage("Q10010")',
            function () {
                App.action(App.getUrl("eacher/remove"), { appId: row.AppId },
                function () {
                    $('#grid_eacher').datagrid('reload');
                });
        });


    }

    // 打开编辑状态详情
    function doDetail() {
        var row = $('#grid_eacher').datagrid('getSelected');
        if (row) {
            $('#dlg_eacher').dialog("open").dialog('refresh', App.getUrl('eacher/edit?appId=' + row.AppId));
        }

    }
</script>

